In [2]:
import pandas as pd
import numpy as np
import urllib.request
import wget

# Importing data and preprocesing

In [79]:
print('Downloading...')

calendar = 'https://data.oebb.at/oebb?dataset=uddi:cd36722f-1b9a-11e8-8087-b71b4f81793a&file=uddi:d3e25791-7889-11e8-8fc8-edb0b0e1f0ef/calendar.csv'
calendar_dates = 'https://data.oebb.at/oebb?dataset=uddi:cd36722f-1b9a-11e8-8087-b71b4f81793a&file=uddi:d3e25791-7889-11e8-8fc8-edb0b0e1f0ef/calendar_dates.csv'
agency = 'https://data.oebb.at/oebb?dataset=uddi:cd36722f-1b9a-11e8-8087-b71b4f81793a&file=uddi:d3e25791-7889-11e8-8fc8-edb0b0e1f0ef/agency.csv'
trips = 'https://data.oebb.at/oebb?dataset=uddi:cd36722f-1b9a-11e8-8087-b71b4f81793a&file=uddi:d3e25791-7889-11e8-8fc8-edb0b0e1f0ef/trips.csv'
stops = 'https://data.oebb.at/oebb?dataset=uddi:cd36722f-1b9a-11e8-8087-b71b4f81793a&file=uddi:d3e25791-7889-11e8-8fc8-edb0b0e1f0ef/stops.csv'
routes = 'https://data.oebb.at/oebb?dataset=uddi:cd36722f-1b9a-11e8-8087-b71b4f81793a&file=uddi:d3e25791-7889-11e8-8fc8-edb0b0e1f0ef/routes.csv'
transfers = 'https://data.oebb.at/oebb?dataset=uddi:cd36722f-1b9a-11e8-8087-b71b4f81793a&file=uddi:d3e25791-7889-11e8-8fc8-edb0b0e1f0ef/transfers.csv'
stop_times = 'https://data.oebb.at/oebb?dataset=uddi:cd36722f-1b9a-11e8-8087-b71b4f81793a&file=uddi:d3e25791-7889-11e8-8fc8-edb0b0e1f0ef/stop_times.csv'

#urllib.request.urlretrieve(calendar1, 'data/calendar.csv')
#urllib.request.urlretrieve(calendar_dates, 'data/calendar_dates.csv')
#urllib.request.urlretrieve(agency, 'data/agency.csv')
#urllib.request.urlretrieve(trips, 'data/trips.csv')
#urllib.request.urlretrieve(stops, 'data/stops.csv')
#urllib.request.urlretrieve(routes, 'data/routes.csv')
#urllib.request.urlretrieve(transfers, 'data/transfers.csv')
#urllib.request.urlretrieve(stop_times, 'data/stop_times.csv')
print('...Finished')

Downloading...
...Finished

In [3]:
data1 = pd.read_csv("data/stop_times.csv")
data2 = pd.read_csv("data/stops.csv")
data3 = pd.read_csv("data/trips.csv")

In [4]:
data1.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,1,21:03:00,21:03:00,8100353,1,NaN,0,1,NaN
1,1,21:21:00,21:21:00,8103000,2,NaN,1,0,NaN
2,2,06:12:00,06:12:00,8103000,1,NaN,0,1,NaN
3,2,06:27:00,06:27:00,8100353,2,NaN,1,0,NaN
4,3,22:52:00,22:52:00,8100353,1,NaN,0,1,NaN

In [5]:
data2.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,platform_code
0,5100009,NaN,Gdansk Glowny,NaN,54.355520,18.643803,NaN,NaN,0,NaN,NaN
1,5100010,NaN,Gdynia Glowna,NaN,54.520840,18.529556,NaN,NaN,0,NaN,NaN
2,5100066,NaN,Warszawa Wschodnia,NaN,52.251548,21.052335,NaN,NaN,0,NaN,NaN
3,5300007,NaN,Bucuresti Nord Gara A,NaN,44.446770,26.074412,NaN,NaN,0,NaN,NaN
4,5400014,NaN,Praha hl.n.,NaN,50.083062,14.436039,NaN,NaN,0,NaN,NaN

In [6]:
data3.head()

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,shape_id,trip_type
0,1,0,1,Wien Hbf,RJ 1040,NaN,1,NaN,1
1,1,0,2,Flughafen Wien Bahnhof,RJ 1041,NaN,2,NaN,1
2,1,1,3,Wien Hbf,RJ 1042,NaN,3,NaN,1
3,1,2,4,Wien Hbf,RJ 1042,NaN,4,NaN,1
4,1,0,5,Flughafen Wien Bahnhof,RJ 1043,NaN,5,NaN,1

In [7]:
data1 = data1.dropna(axis=1)

In [8]:
data2 = data2.dropna(axis=1)

In [9]:
data3 = data3.dropna(axis=1)

In [10]:
data = pd.merge(data1, data2,  how='left', left_on=['stop_id'], right_on = ['stop_id'])

In [11]:
data = pd.merge(data, data3,  how='left', left_on=['trip_id'], right_on = ['trip_id'])

In [12]:
data.head(20)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,location_type,route_id,service_id,trip_headsign,block_id,trip_type
0,1,21:03:00,21:03:00,8100353,1,0,1,Flughafen Wien Bahnhof,48.121081,16.563103,0,1,0,Wien Hbf,1,1
1,1,21:21:00,21:21:00,8103000,2,1,0,Wien Hbf,48.185101,16.377113,0,1,0,Wien Hbf,1,1
2,2,06:12:00,06:12:00,8103000,1,0,1,Wien Hbf,48.185101,16.377113,0,1,0,Flughafen Wien Bahnhof,2,1
3,2,06:27:00,06:27:00,8100353,2,1,0,Flughafen Wien Bahnhof,48.121081,16.563103,0,1,0,Flughafen Wien Bahnhof,2,1
4,3,22:52:00,22:52:00,8100353,1,0,1,Flughafen Wien Bahnhof,48.121081,16.563103,0,1,1,Wien Hbf,3,1
5,3,23:11:00,23:11:00,8103000,2,1,0,Wien Hbf,48.185101,16.377113,0,1,1,Wien Hbf,3,1
6,4,22:03:00,22:03:00,8100353,1,0,1,Flughafen Wien Bahnhof,48.121081,16.563103,0,1,2,Wien Hbf,4,1
7,4,22:18:00,22:18:00,8103000,2,1,0,Wien Hbf,48.185101,16.377113,0,1,2,Wien Hbf,4,1
8,5,06:42:00,06:42:00,8103000,1,0,1,Wien Hbf,48.185101,16.377113,0,1,0,Flughafen Wien Bahnhof,5,1
9,5,06:57:00,06:57:00,8100353,2,1,0,Flughafen Wien Bahnhof,48.121081,16.563103,0,1,0,Flughafen Wien Bahnhof,5,1
10,6,22:33:00,22:33:00,8100353,1,0,1,Flughafen Wien Bahnhof,48.121081,16.563103,0,1,3,Wien Hbf,6,1
11,6,22:48:00,22:48:00,8103000,2,1,0,Wien Hbf,48.185101,16.377113,0,1,3,Wien Hbf,6,1
12,7,22:45:00,22:45:00,8100353,1,0,1,Flughafen Wien Bahnhof,48.121081,16.563103,0,1,4,Wien Hbf,7,1
13,7,23:00:00,23:00:00,8103000,2,1,0,Wien Hbf,48.185101,16.377113,0,1,4,Wien Hbf,7,1
14,8,23:03:00,23:03:00,8100353,1,0,1,Flughafen Wien Bahnhof,48.121081,16.563103,0,1,0,Wien Hbf,8,1
15,8,23:18:00,23:18:00,8103000,2,1,0,Wien Hbf,48.185101,16.377113,0,1,0,Wien Hbf,8,1
16,9,16:42:00,16:42:00,8100085,1,0,1,Klagenfurt Hbf,46.615603,14.313576,0,1,5,Salzburg Hbf,9,1
17,9,16:48:00,16:49:00,8100079,2,0,0,Krumpendorf/Wörther See Bahnhof,46.626320,14.221442,0,1,5,Salzburg Hbf,9,1
18,9,16:54:00,16:55:00,8100080,3,0,0,Pörtschach/Wörther See Bahnhof,46.636197,14.146286,0,1,5,Salzburg Hbf,9,1
19,9,17:01:00,17:02:00,8100081,4,0,0,Velden/Wörther See Bahnhof,46.620016,14.044834,0,1,5,Salzburg Hbf,9,1

In [13]:
GW = data[(data.stop_name == "Graz Hbf") | (data.stop_name == "Wien Hbf")]

In [16]:
GW.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,location_type,route_id,service_id,trip_headsign,block_id,trip_type
1,1,21:21:00,21:21:00,8103000,2,1,0,Wien Hbf,48.185101,16.377113,0,1,0,Wien Hbf,1,1
2,2,06:12:00,06:12:00,8103000,1,0,1,Wien Hbf,48.185101,16.377113,0,1,0,Flughafen Wien Bahnhof,2,1
5,3,23:11:00,23:11:00,8103000,2,1,0,Wien Hbf,48.185101,16.377113,0,1,1,Wien Hbf,3,1
7,4,22:18:00,22:18:00,8103000,2,1,0,Wien Hbf,48.185101,16.377113,0,1,2,Wien Hbf,4,1
8,5,06:42:00,06:42:00,8103000,1,0,1,Wien Hbf,48.185101,16.377113,0,1,0,Flughafen Wien Bahnhof,5,1

In [ ]:
#GW_duplicate = GW[GW.duplicated(['trip_id'], keep=False)]

In [135]:
GW_duplicate = GW[GW.duplicated(['trip_id'])]

In [136]:
GW_duplicate.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,location_type,route_id,service_id,trip_headsign,block_id,trip_type
59645,6378,21:33:00,21:33:00,8100173,7,1,0,Graz Hbf,47.072503,15.416464,0,1,1124,Graz Hbf,4083,1
59888,6413,23:33:00,23:33:00,8100173,7,1,0,Graz Hbf,47.072503,15.416464,0,1,1124,Graz Hbf,4101,1
80431,8585,09:33:00,09:33:00,8100173,8,1,0,Graz Hbf,47.072503,15.416464,0,1,1594,Graz Hbf,5455,1
93164,10153,16:33:00,16:33:00,8100173,8,1,0,Graz Hbf,47.072503,15.416464,0,1,1594,Graz Hbf,6354,1
95280,10372,11:33:00,11:33:00,8100173,8,1,0,Graz Hbf,47.072503,15.416464,0,1,35239,Graz Hbf,6551,1

In [137]:
GW_trip_id_column = GW_duplicate["trip_id"].reset_index(drop=True)

In [138]:
GW_trip_id_list.head()

0     6378
1     6413
2     8585
3    10153
4    10372
Name: trip_id, dtype: int64

In [142]:
GW_list = GW_trip_id_column.values.tolist()

In [143]:
print(len(GW_list))

53

In [145]:
#GW_list

In [146]:
def GW_stops_search(x):
    if x.trip_id in GW_list:
        return(x)

In [154]:
data_route = data.apply(lambda x: GW_stops_search(x))

AttributeError: 'Series' object has no attribute 'trip_id'

# Now we are starting with procesing

In [178]:
data[(data.stop_name == "Graz Hbf") & (data.stop_sequence == 1) & (data.route_id == 1)].head(20)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,location_type,route_id,service_id,trip_headsign,block_id,trip_type
59512,6361,14:26:00,14:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,42,Mürzzuschlag Bahnhof,4074,1
59762,6395,16:26:00,16:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,41,Mürzzuschlag Bahnhof,4092,1
59891,6415,18:26:00,18:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,41,Mürzzuschlag Bahnhof,4103,1
80395,8578,05:28:00,05:28:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,0,Flughafen Wien Bahnhof,5450,1
80442,8588,07:26:00,07:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,0,Flughafen Wien Bahnhof,5457,1
81315,8742,09:26:00,09:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,1595,Flughafen Wien Bahnhof,5517,1
81325,8744,09:26:00,09:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,1594,Flughafen Wien Bahnhof,5518,1
93134,10148,13:26:00,13:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,1595,Flughafen Wien Bahnhof,6351,1
93144,10150,13:26:00,13:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,1594,Flughafen Wien Bahnhof,6352,1
96003,10482,06:26:00,06:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,42,Mürzzuschlag Bahnhof,6625,1
96996,10628,08:26:00,08:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,42,Mürzzuschlag Bahnhof,6754,1
97621,10706,15:26:00,15:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,0,Flughafen Wien Bahnhof,6805,1
97645,10711,17:26:00,17:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,0,Flughafen Wien Bahnhof,6809,1
97986,10750,10:26:00,10:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,42,Mürzzuschlag Bahnhof,6845,1
99087,10866,12:26:00,12:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,42,Mürzzuschlag Bahnhof,6949,1
99817,10959,20:26:00,20:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,0,Wien Hbf,7024,1
120348,13354,14:26:00,14:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,550,Praha hl.n.,17448,1
120375,13358,16:26:00,16:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,379,Praha hl.n.,17451,1
120402,13362,18:26:00,18:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,379,Breclav,17454,1
134317,14881,06:26:00,06:26:00,8100173,1,0,1,Graz Hbf,47.072503,15.416464,0,1,550,Praha hl.n.,18653,1

In [48]:
data[(data.stop_name == "Wien Hbf") & (data.drop_off_type == 1)].head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon
2,2,06:12:00,06:12:00,8103000,1,0,1,Wien Hbf,48.185101,16.377113
8,5,06:42:00,06:42:00,8103000,1,0,1,Wien Hbf,48.185101,16.377113
229,35,15:58:00,15:58:00,8103000,1,0,1,Wien Hbf,48.185101,16.377113
232,36,17:30:00,17:30:00,8103000,1,0,1,Wien Hbf,48.185101,16.377113
293,42,08:30:00,08:30:00,8103000,1,0,1,Wien Hbf,48.185101,16.377113

In [156]:
gw = []
def gw_search(x):
    if x in(data[(data.stop_name == "Wien Hbf") & (data.drop_off_type == 1)].route_id.reset_index(drop=True)):
        gw.append(x)

In [157]:
data[(data.stop_name == "Graz Hbf") & (data.stop_sequence == 1)].route_id.map(lambda x: gw_search(x))

659       None
3658      None
3757      None
6130      None
6136      None
          ...
142019    None
143185    None
143215    None
143245    None
143260    None
Name: route_id, Length: 244, dtype: object

In [158]:
gw = sorted(list(set(gw)))

In [159]:
gw

[1, 2, 3, 4, 6, 7, 10, 11, 12, 17]

In [173]:
Graz_Vienna = data[data.route_id.isin(gw)]

In [179]:
Graz_Vienna.head(20)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,location_type,route_id,service_id,trip_headsign,block_id,trip_type
0,1,21:03:00,21:03:00,8100353,1,0,1,Flughafen Wien Bahnhof,48.121081,16.563103,0,1,0,Wien Hbf,1,1
1,1,21:21:00,21:21:00,8103000,2,1,0,Wien Hbf,48.185101,16.377113,0,1,0,Wien Hbf,1,1
2,2,06:12:00,06:12:00,8103000,1,0,1,Wien Hbf,48.185101,16.377113,0,1,0,Flughafen Wien Bahnhof,2,1
3,2,06:27:00,06:27:00,8100353,2,1,0,Flughafen Wien Bahnhof,48.121081,16.563103,0,1,0,Flughafen Wien Bahnhof,2,1
4,3,22:52:00,22:52:00,8100353,1,0,1,Flughafen Wien Bahnhof,48.121081,16.563103,0,1,1,Wien Hbf,3,1
5,3,23:11:00,23:11:00,8103000,2,1,0,Wien Hbf,48.185101,16.377113,0,1,1,Wien Hbf,3,1
6,4,22:03:00,22:03:00,8100353,1,0,1,Flughafen Wien Bahnhof,48.121081,16.563103,0,1,2,Wien Hbf,4,1
7,4,22:18:00,22:18:00,8103000,2,1,0,Wien Hbf,48.185101,16.377113,0,1,2,Wien Hbf,4,1
8,5,06:42:00,06:42:00,8103000,1,0,1,Wien Hbf,48.185101,16.377113,0,1,0,Flughafen Wien Bahnhof,5,1
9,5,06:57:00,06:57:00,8100353,2,1,0,Flughafen Wien Bahnhof,48.121081,16.563103,0,1,0,Flughafen Wien Bahnhof,5,1
10,6,22:33:00,22:33:00,8100353,1,0,1,Flughafen Wien Bahnhof,48.121081,16.563103,0,1,3,Wien Hbf,6,1
11,6,22:48:00,22:48:00,8103000,2,1,0,Wien Hbf,48.185101,16.377113,0,1,3,Wien Hbf,6,1
12,7,22:45:00,22:45:00,8100353,1,0,1,Flughafen Wien Bahnhof,48.121081,16.563103,0,1,4,Wien Hbf,7,1
13,7,23:00:00,23:00:00,8103000,2,1,0,Wien Hbf,48.185101,16.377113,0,1,4,Wien Hbf,7,1
14,8,23:03:00,23:03:00,8100353,1,0,1,Flughafen Wien Bahnhof,48.121081,16.563103,0,1,0,Wien Hbf,8,1
15,8,23:18:00,23:18:00,8103000,2,1,0,Wien Hbf,48.185101,16.377113,0,1,0,Wien Hbf,8,1
16,9,16:42:00,16:42:00,8100085,1,0,1,Klagenfurt Hbf,46.615603,14.313576,0,1,5,Salzburg Hbf,9,1
17,9,16:48:00,16:49:00,8100079,2,0,0,Krumpendorf/Wörther See Bahnhof,46.626320,14.221442,0,1,5,Salzburg Hbf,9,1
18,9,16:54:00,16:55:00,8100080,3,0,0,Pörtschach/Wörther See Bahnhof,46.636197,14.146286,0,1,5,Salzburg Hbf,9,1
19,9,17:01:00,17:02:00,8100081,4,0,0,Velden/Wörther See Bahnhof,46.620016,14.044834,0,1,5,Salzburg Hbf,9,1